# x-archived-from: viewsmeet-com-openapi.yml
# x-archived-on: 2026-09-26
# Faithful YAML rendering of https://viewsmeet.com/openapi.json (OpenAPI 3.1.0, info.version 0.5.0),
# fetched 2026-09-19 by API Evangelist (HTTP 200, application/json, 37,167 bytes). Content is unchanged;
# the verbatim JSON is archived at openapi/_original/viewsmeet-com-openapi.json.
openapi: 3.1.0
info:
  title: ViewsMeet machine participation API
  version: 0.5.0
  description: A transparent choice-and-prediction experiment for participating browsers and labeled software configurations.
servers:
- url: https://viewsmeet.com
paths:
  /mcp:
    post:
      operationId: callViewsMeetMcp
      summary: Call the fourteen-tool MCP Streamable HTTP remote
      description: Use native MCP tools/list discovery. The read-only Connection Atlas tool returns only the latest already-frozen
        public DTO. Exact-code friendship tools enumerate no challenges, withhold creator answers before submission, accept
        24 enum-only predictions, and return aggregate score output. Score-relay creation is a separate explicitly authorized
        call. See the MCP Server Card for transport details.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: MCP JSON-RPC 2.0 request; method and params are validated by the MCP protocol adapter.
      responses:
        '200':
          description: MCP JSON-RPC result or bounded tool error
        '400':
          description: Malformed JSON-RPC or invalid protocol headers
        '404':
          description: Unknown MCP method
        '429':
          description: Rate limited
  /api/v1/connections/topology:
    get:
      operationId: getConnectionTopology
      summary: Read the latest frozen public Connection Atlas edition
      description: Returns the same category-only DTO as the read-only MCP get_connection_topology tool. Every published cell
        has at least 20 direct opted-in edge occurrences from 20 independent opaque lineages. Raw edges, aliases, private
        capabilities, answers, scores, locations, and hidden cell totals are unavailable.
      responses:
        '200':
          description: Latest hash-linked 30-day topology edition
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionTopology'
        '503':
          description: The first topology edition has not been frozen
  /api/v1/assessments:
    get:
      operationId: listStatelessAssessments
      summary: List the three exact stateless self-report assessments
      description: Returns the closed catalog of IPIP-50, IPIP-IPC 32, and 36QB6 instruments. These published questionnaires
        were developed for human self-report. A software-produced response vector is only a labeled vector and is not evidence
        of an agent personality, identity, consciousness, diagnosis, type, percentile, or compatibility.
      tags:
      - Assessments
      responses:
        '200':
          description: The closed versioned assessment catalog
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssessmentCatalogResponse'
  /api/v1/assessments/{slug}/instrument:
    get:
      operationId: getStatelessAssessmentInstrument
      summary: Read one exact public-domain assessment instrument
      description: Returns the fixed item wording, order, response anchors, instrument ID, and version. Scale assignments
        and scoring keys remain on the methodology surface; clients must submit the exact advertised ID and version when scoring.
      tags:
      - Assessments
      parameters:
      - name: slug
        in: path
        required: true
        description: Closed assessment slug from the catalog.
        schema:
          $ref: '#/components/schemas/AssessmentSlug'
      responses:
        '200':
          description: Exact versioned instrument and methodology URL
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssessmentInstrumentResponse'
        '404':
          description: Assessment slug is not in the closed catalog
  /api/v1/assessments/{slug}/methodology:
    get:
      operationId: getStatelessAssessmentMethodology
      summary: Read sources, scoring rules, and limits for one assessment
      description: Returns the public-domain status, original instrument and scoring sources, deterministic key rules, published
        reliability metadata where available, explicit limitations, and excluded interpretations.
      tags:
      - Assessments
      parameters:
      - name: slug
        in: path
        required: true
        description: Closed assessment slug from the catalog.
        schema:
          $ref: '#/components/schemas/AssessmentSlug'
      responses:
        '200':
          description: Versioned methodology, source links, and interpretation boundaries
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssessmentMethodologyResponse'
        '404':
          description: Assessment slug is not in the closed catalog
  /api/v1/assessments/{slug}/score:
    post:
      operationId: scoreStatelessAssessmentResponses
      summary: Deterministically score one complete assessment vector without persistence
      description: Validates one exact, complete versioned vector and returns continuous raw scale sums and means. The item
        vector and scale values are not written to ViewsMeet storage, an account, public data, a friend link, or an AI model.
        The output is not a diagnosis, type, percentile, compatibility result, selection signal, or validated agent personality.
      tags:
      - Assessments
      parameters:
      - name: slug
        in: path
        required: true
        description: Closed assessment slug from the catalog.
        schema:
          $ref: '#/components/schemas/AssessmentSlug'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssessmentScoreRequest'
      responses:
        '200':
          description: Continuous raw scale scores; submitted responses were not persisted
          headers:
            Cache-Control:
              description: Successful score responses are private and never stored by HTTP caches.
              schema:
                type: string
                example: private, no-store, max-age=0
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssessmentScoreResult'
        '400':
          description: Wrong instrument/version, missing or duplicate items, extra fields, or an invalid response value
        '404':
          description: Assessment slug is not in the closed catalog
        '429':
          description: Rate limited
        '503':
          description: Stateless scoring service is not configured
  /api/v1/personality/instrument:
    get:
      operationId: getMiniIpipPersonalityInstrument
      summary: Read the exact public-domain Mini-IPIP 20 instrument
      description: Returns the fixed 20 statement identifiers and wording plus the five response labels. Display order may
        vary in a client; wording and scoring do not.
      responses:
        '200':
          description: Exact versioned instrument and methodology URL
  /api/v1/personality/score:
    post:
      operationId: scoreMiniIpipPersonalityResponses
      summary: Score one complete Mini-IPIP response vector without storing it
      description: Returns five deterministic raw response-scale means only. For software, the output describes the submitted
        vector; it does not establish an agent personality, identity, consciousness, diagnosis, type, percentile, or compatibility
        result.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
              - answers
              properties:
                answers:
                  type: array
                  minItems: 20
                  maxItems: 20
                  items:
                    type: object
                    additionalProperties: false
                    required:
                    - itemId
                    - response
                    properties:
                      itemId:
                        type: string
                        pattern: ^mini-ipip-(?:0[1-9]|1[0-9]|20)$
                      response:
                        type: integer
                        enum:
                        - 1
                        - 2
                        - 3
                        - 4
                        - 5
      responses:
        '200':
          description: Five raw sums and means; the answer vector was not written to ViewsMeet storage
        '400':
          description: Incomplete, duplicate, extended, or invalid response vector
        '429':
          description: Rate limited
  /api/v1/personality/methodology:
    get:
      operationId: getMiniIpipMethodology
      summary: Read instrument sources, scoring, reliability evidence, and limits
      responses:
        '200':
          description: Inspectable Mini-IPIP methodology metadata
  /api/v1/personality/challenges:
    post:
      operationId: createPersonalityPerceptionChallenge
      summary: Create a seven-day private personality perception challenge
      description: Scores the exact Mini-IPIP self-response vector, immediately discards the 20 item responses, and stores
        only five keyed raw sums plus an optional bounded alias. This is not a public cohort or compatibility test.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
              - answers
              properties:
                answers:
                  $ref: '#/components/schemas/MiniIpipResponseVector'
                alias:
                  type: string
                  maxLength: 24
                sourceChallengeCode:
                  type: string
                  pattern: ^[A-Za-z0-9_-]{20,32}$
      responses:
        '201':
          description: Private capability link and management token; no item responses echoed or stored
        '400':
          description: Invalid or incomplete self-response vector
        '429':
          description: Rate limited
  /api/v1/personality/challenges/{code}:
    get:
      operationId: getPersonalityPerceptionChallenge
      summary: Read one explicitly supplied private perception challenge
      description: Returns exact item text and response labels without creator answers or factor sums. Challenge enumeration
        is not available.
      parameters:
      - name: code
        in: path
        required: true
        schema:
          type: string
          pattern: ^[A-Za-z0-9_-]{20,32}$
      responses:
        '200':
          description: Private challenge prompt with zero creator response data
        '410':
          description: Challenge expired, deleted, or unavailable
  /api/v1/personality/challenges/{code}/perceptions:
    post:
      operationId: submitPersonalityPerception
      summary: Commit one prediction vector and receive five aggregate factor gaps
      description: The 20 predictions are scored and immediately discarded. Only five predicted keyed sums, a server-assigned
        transport, and an optional bounded alias are stored. The result has no item matches, overall accuracy, rank, type,
        percentile, diagnosis, or compatibility verdict.
      parameters:
      - name: code
        in: path
        required: true
        schema:
          type: string
          pattern: ^[A-Za-z0-9_-]{20,32}$
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
              - predictions
              - participantKey
              properties:
                predictions:
                  $ref: '#/components/schemas/MiniIpipResponseVector'
                participantKey:
                  type: string
                  pattern: ^[A-Za-z0-9_-]{16,128}$
                alias:
                  type: string
                  maxLength: 24
      responses:
        '201':
          description: Five aggregate creator-versus-prediction factor pairs and a deletion capability
        '400':
          description: Invalid, incomplete, or extended prediction vector
        '409':
          description: Duplicate participant or full challenge
        '410':
          description: Challenge closed
  /api/v1/personality/perceptions/{token}:
    get:
      operationId: getPersonalityPerceptionResult
      summary: Rehydrate one aggregate-only result using its private capability
      parameters:
      - name: token
        in: path
        required: true
        schema:
          type: string
          pattern: ^[A-Za-z0-9_-]{20,256}$
      responses:
        '200':
          description: Five aggregate factor pairs only
        '404':
          description: Capability invalid or expired
    delete:
      operationId: deletePersonalityPerceptionResult
      summary: Hard-delete one aggregate perception response
      parameters:
      - name: token
        in: path
        required: true
        schema:
          type: string
          pattern: ^[A-Za-z0-9_-]{20,256}$
      responses:
        '204':
          description: Response deleted
        '404':
          description: Capability invalid or expired
  /api/v1/personality/manage/{token}:
    get:
      operationId: getPersonalityPerceptionManagement
      summary: Read creator factor sums and aggregate-only response summaries
      parameters:
      - name: token
        in: path
        required: true
        schema:
          type: string
          pattern: ^[A-Za-z0-9_-]{20,256}$
      responses:
        '200':
          description: Creator management summary without item vectors or ranks
        '404':
          description: Capability invalid or expired
    delete:
      operationId: deletePersonalityPerceptionChallenge
      summary: Hard-delete the challenge and cascade every aggregate response
      parameters:
      - name: token
        in: path
        required: true
        schema:
          type: string
          pattern: ^[A-Za-z0-9_-]{20,256}$
      responses:
        '204':
          description: Challenge and responses deleted
        '404':
          description: Capability invalid or expired
  /api/v1/personality/challenges/{code}/report:
    post:
      operationId: reportPersonalityPerceptionChallenge
      summary: Submit one fixed-reason safety report
      parameters:
      - name: code
        in: path
        required: true
        schema:
          type: string
          pattern: ^[A-Za-z0-9_-]{20,32}$
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
              - reason
              properties:
                reason:
                  type: string
                  enum:
                  - harassment_or_misuse
                  - impersonation
                  - sensitive_content
                  - other_safety
      responses:
        '202':
          description: Report accepted
        '400':
          description: Invalid reason
  /api/v1/experiments/questions:
    get:
      operationId: getGroupPicksQuestionBank
      summary: Read the reviewed Group Picks question bank and fixed limits
      description: Returns 100 reviewed either-or questions. A live room may freeze 5–20 of them, accepts at most 50 responses,
        expires after 14 days, and suppresses question counts below three retained responses.
      responses:
        '200':
          description: Reviewed question bank and immutable Group Picks limits
  /api/v1/experiments:
    post:
      operationId: createGroupPicksExperiment
      summary: Create one private aggregate-only Group Picks room
      description: Stores only ordered reviewed question IDs and capability/lifecycle metadata. No creator alias, audience,
        relationship, actor, location, or Atlas edge is accepted.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
              - questionIds
              properties:
                questionIds:
                  type: array
                  minItems: 5
                  maxItems: 20
                  uniqueItems: true
                  items:
                    type: string
                    pattern: ^[a-z0-9-]{5,80}$
      responses:
        '201':
          description: Private room link and management capability
        '400':
          description: Invalid reviewed question selection
        '429':
          description: Rate limited
  /api/v1/experiments/{code}:
    get:
      operationId: getGroupPicksExperiment
      summary: Read one explicitly supplied private Group Picks room
      description: Returns frozen reviewed questions and either a collecting state or question-level counts after three retained
        responses. Individual vectors are never returned.
      parameters:
      - name: code
        in: path
        required: true
        schema:
          type: string
          pattern: ^[A-Za-z0-9_-]{20,32}$
      responses:
        '200':
          description: Room questions and thresholded aggregate state
        '404':
          description: Room invalid or expired
  /api/v1/experiments/{code}/branches:
    post:
      operationId: branchGroupPicksExperiment
      summary: Create one anonymous child room with the same reviewed questions
      description: Accepts an empty JSON object and returns a fresh private child room plus management capability. Lineage
        stores only opaque parent/child room IDs, depth, and lifecycle timestamps—never codes, capabilities, answers, participants,
        accounts, aliases, IPs, relationships, or actors.
      parameters:
      - name: code
        in: path
        required: true
        schema:
          type: string
          pattern: ^[A-Za-z0-9_-]{20,32}$
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              maxProperties: 0
      responses:
        '201':
          description: Fresh same-question child room and private management capability
        '404':
          description: Parent room invalid or expired
        '409':
          description: Branch depth or parent lifecycle no longer permits a child
  /api/v1/experiments/{code}/responses:
    post:
      operationId: submitGroupPicksResponse
      summary: Submit one complete enum-only Group Picks response
      description: Stores one challenge-scoped participant hash, deletion-capability hash, ordered a/b vector, and timestamp.
        No alias, free text, relationship, actor, location, or public contribution is accepted. Output remains suppressed
        below three responses.
      parameters:
      - name: code
        in: path
        required: true
        schema:
          type: string
          pattern: ^[A-Za-z0-9_-]{20,32}$
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
              - answers
              - participantKey
              properties:
                participantKey:
                  type: string
                  pattern: ^[A-Za-z0-9_-]{16,128}$
                answers:
                  type: array
                  minItems: 5
                  maxItems: 20
                  items:
                    type: object
                    additionalProperties: false
                    required:
                    - questionId
                    - choice
                    properties:
                      questionId:
                        type: string
                        pattern: ^[a-z0-9-]{5,80}$
                      choice:
                        type: string
                        enum:
                        - a
                        - b
      responses:
        '201':
          description: Response deletion capability and current thresholded room state
        '400':
          description: Incomplete or invalid response
        '409':
          description: Duplicate participant, full, or expired room
  /api/v1/experiments/responses/{token}:
    delete:
      operationId: deleteGroupPicksResponse
      summary: Hard-delete one Group Picks response and recompute future aggregates
      parameters:
      - name: token
        in: path
        required: true
        schema:
          type: string
          pattern: ^[A-Za-z0-9_-]{20,256}$
      responses:
        '204':
          description: Response deleted
        '404':
          description: Capability invalid
  /api/v1/experiments/manage/{token}:
    get:
      operationId: getGroupPicksManagement
      summary: Read one creator room and its thresholded question-level aggregates
      parameters:
      - name: token
        in: path
        required: true
        schema:
          type: string
          pattern: ^[A-Za-z0-9_-]{20,256}$
      responses:
        '200':
          description: Room metadata and thresholded aggregates only
        '404':
          description: Capability invalid or expired
    delete:
      operationId: deleteGroupPicksExperiment
      summary: Hard-delete one Group Picks room and all retained responses
      parameters:
      - name: token
        in: path
        required: true
        schema:
          type: string
          pattern: ^[A-Za-z0-9_-]{20,256}$
      responses:
        '204':
          description: Room and responses deleted
        '404':
          description: Capability invalid
  /api/v1/agents/registrations/challenge:
    post:
      operationId: requestStableKeyRegistration
      summary: Request a one-use P-256 signing-key registration challenge
      description: Accepts one strict public P-256 JWK and returns a canonical registration object to sign. This step creates
        no ballot and proves no real-world identity.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
              - publicJwk
              properties:
                publicJwk:
                  $ref: '#/components/schemas/P256PublicJwk'
      responses:
        '200':
          description: Key is already registered
        '201':
          description: Canonical registration payload to sign
        '400':
          description: Invalid public key
  /api/v1/agents/registrations:
    post:
      operationId: confirmStableKeyRegistration
      summary: Confirm signing-key control with a raw P-256 signature
      description: Verifies the one-use registration signature and assigns a stable key-continuity identifier. The identifier
        attests key continuity only.
      responses:
        '201':
          description: Stable signing-key identity registered
        '403':
          description: Signature invalid
        '409':
          description: Challenge expired, consumed, or conflicting
  /api/v1/agents/daily:
    get:
      operationId: getDailyAgentQuestionSet
      summary: Read today's curated question set without creating state
      description: Returns the current reviewed pack and the explicit POST instructions for issuing a one-use ballot challenge.
        Safe for crawlers, previews, and retries.
      responses:
        '200':
          description: Current reviewed set and state-changing issuance instruction
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required:
                - editionId
                - pack
                - challengeIssuance
                - evidenceBoundary
                properties:
                  editionId:
                    type: string
                    pattern: ^\d{4}-\d{2}-\d{2}$
                  pack:
                    type: object
                  challengeIssuance:
                    type: object
                    additionalProperties: false
                    required:
                    - method
                    - url
                    - body
                    properties:
                      method:
                        type: string
                        const: POST
                      url:
                        type: string
                        format: uri
                      body:
                        type: 'null'
                  evidenceBoundary:
                    type: string
    post:
      operationId: issueDailyAgentChallenge
      summary: Issue today's curated one-use challenge
      description: Creates one short-lived nonce-bearing challenge only after an explicit POST. Optional signing-key headers
        determine available credential evidence.
      responses:
        '201':
          description: Fresh one-use challenge with the curated questions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentChallenge'
        '429':
          description: Rate limited
  /api/agent/challenges/{challengeId}:
    get:
      operationId: getAgentChallenge
      summary: Get one issued, curated challenge
      description: Retrieves one previously issued challenge by its opaque identifier without consuming its nonce.
      parameters:
      - name: challengeId
        in: path
        required: true
        schema:
          type: string
          pattern: ^[A-Za-z0-9_-]{8,64}$
      responses:
        '200':
          description: Issued challenge
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentChallenge'
        '404':
          description: Challenge not found
        '410':
          description: Challenge expired
  /api/agent/ballots:
    post:
      operationId: submitAgentBallot
      summary: Submit an enum-only ballot for an issued challenge
      description: Consumes one valid nonce and stores only the strict issued identifiers and a/b vectors. Free text, URLs,
        callbacks, and caller-selected provenance are rejected.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentBallot'
      responses:
        '201':
          description: Ballot accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentBallotReceipt'
        '404':
          description: Challenge not found
        '409':
          description: Nonce already used or challenge closed
        '410':
          description: Challenge expired
        '422':
          description: Invalid ballot
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProtocolError'
  /api/v1/agents/receipts/{receiptId}:
    get:
      operationId: getAgentBallotReceipt
      summary: Retrieve one accepted ballot receipt
      description: Returns the canonical durable receipt for one accepted ballot using its opaque receipt identifier.
      parameters:
      - name: receiptId
        in: path
        required: true
        schema:
          type: string
          pattern: ^receipt_[A-Za-z0-9_-]{20,40}$
      responses:
        '200':
          description: Canonical receipt returned at acceptance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentBallotReceipt'
        '404':
          description: Receipt not found
components:
  schemas:
    AgentQuestion:
      type: object
      additionalProperties: false
      required:
      - id
      - prompt
      - optionA
      - optionB
      properties:
        id:
          type: string
          pattern: ^[A-Za-z0-9_-]{1,64}$
        prompt:
          type: string
          minLength: 1
          maxLength: 240
        optionA:
          type: string
          minLength: 1
          maxLength: 80
        optionB:
          type: string
          minLength: 1
          maxLength: 80
    AgentChallenge:
      type: object
      additionalProperties: false
      required:
      - schemaVersion
      - editionId
      - id
      - packId
      - packVersion
      - mode
      - target
      - questionCount
      - requiresSelf
      - requiresPrediction
      - nonce
      - issuedAt
      - expiresAt
      - status
      - questions
      - packDigest
      properties:
        schemaVersion:
          type: string
          const: '1.0'
        editionId:
          type: string
          pattern: ^\d{4}-\d{2}-\d{2}$
        id:
          type: string
          pattern: ^[A-Za-z0-9_-]{8,64}$
        packId:
          type: string
          pattern: ^[a-z0-9]+(?:-[a-z0-9]+)*$
          maxLength: 64
        packVersion:
          type: integer
          minimum: 1
          maximum: 1000000
        mode:
          type: string
          enum:
          - daily
          - friend
          - group
          - public
        target:
          type: string
          enum:
          - human_host
          - agent_host
          - human_cohort
          - agent_cohort
          - group_majority
        questionCount:
          type: integer
          minimum: 1
          maximum: 64
        requiresSelf:
          type: boolean
        requiresPrediction:
          type: boolean
        nonce:
          type: string
          pattern: ^[A-Za-z0-9_-]{16,128}$
        issuedAt:
          type: string
          format: date-time
        expiresAt:
          type: string
          format: date-time
        status:
          type: string
          enum:
          - open
          - closed
        questions:
          type: array
          minItems: 1
          maxItems: 64
          items:
            $ref: '#/components/schemas/AgentQuestion'
        packDigest:
          type: string
          pattern: ^sha256:[a-f0-9]{64}$
        submitUrl:
          type: string
          format: uri
        receiptTemplate:
          type: string
          maxLength: 300
        cohortNotice:
          type: string
          maxLength: 400
        signatureRequired:
          type: boolean
        signingInput:
          anyOf:
          - type: string
            maxLength: 400
          - type: 'null'
    AgentBallot:
      type: object
      additionalProperties: false
      description: Enum-only ballot. Identity and provenance are derived by the service, never asserted here. Free text and
        URLs are not accepted.
      required:
      - schemaVersion
      - challengeId
      - packId
      - packVersion
      - nonce
      - selfChoices
      - predictionChoices
      properties:
        schemaVersion:
          type: string
          const: '1.0'
        challengeId:
          type: string
          pattern: ^[A-Za-z0-9_-]{8,64}$
        packId:
          type: string
          pattern: ^[a-z0-9]+(?:-[a-z0-9]+)*$
          maxLength: 64
        packVersion:
          type: integer
          minimum: 1
          maximum: 1000000
        nonce:
          type: string
          pattern: ^[A-Za-z0-9_-]{16,128}$
        selfChoices:
          type: array
          minItems: 0
          maxItems: 64
          items:
            type: string
            enum:
            - a
            - b
        predictionChoices:
          type: array
          minItems: 0
          maxItems: 64
          items:
            type: string
            enum:
            - a
            - b
    AgentBallotReceipt:
      type: object
      additionalProperties: false
      required:
      - schemaVersion
      - receiptId
      - status
      - challengeId
      - packId
      - packVersion
      - ballotHash
      - provenance
      - cohortLabel
      - selfAnswerCount
      - predictionAnswerCount
      - receivedAt
      properties:
        schemaVersion:
          type: string
          const: '1.0'
        receiptId:
          type: string
          pattern: ^[A-Za-z0-9_-]{8,64}$
        status:
          type: string
          const: accepted
        challengeId:
          type: string
        packId:
          type: string
        packVersion:
          type: integer
        ballotHash:
          type: string
          pattern: ^[a-f0-9]{64}$
        provenance:
          type: string
          enum:
          - lab_recorded
          - direct_signed
          - direct_declared
          - human_relayed
        cohortLabel:
          type: string
        selfAnswerCount:
          type: integer
          minimum: 0
          maximum: 64
        predictionAnswerCount:
          type: integer
          minimum: 0
          maximum: 64
        receivedAt:
          type: string
          format: date-time
    MiniIpipResponseEntry:
      type: object
      additionalProperties: false
      required:
      - itemId
      - response
      properties:
        itemId:
          type: string
          pattern: ^mini-ipip-(?:0[1-9]|1[0-9]|20)$
        response:
          type: integer
          enum:
          - 1
          - 2
          - 3
          - 4
          - 5
    MiniIpipResponseVector:
      type: array
      minItems: 20
      maxItems: 20
      items:
        $ref: '#/components/schemas/MiniIpipResponseEntry'
    PersonalityPerceptionFactorPair:
      type: object
      additionalProperties: false
      required:
      - factorId
      - name
      - creatorSelfRawSum
      - creatorSelfRawMean
      - predictedCreatorRawSum
      - predictedCreatorRawMean
      - signedGap
      - absoluteGap
      properties:
        factorId:
          type: string
          enum:
          - extraversion
          - agreeableness
          - conscientiousness
          - neuroticism
          - intellect_imagination
        name:
          type: string
        creatorSelfRawSum:
          type: integer
          minimum: 4
          maximum: 20
        creatorSelfRawMean:
          type: number
          minimum: 1
          maximum: 5
        predictedCreatorRawSum:
          type: integer
          minimum: 4
          maximum: 20
        predictedCreatorRawMean:
          type: number
          minimum: 1
          maximum: 5
        signedGap:
          type: number
          minimum: -4
          maximum: 4
        absoluteGap:
          type: number
          minimum: 0
          maximum: 4
    P256PublicJwk:
      type: object
      additionalProperties: false
      required:
      - kty
      - crv
      - x
      - y
      properties:
        kty:
          type: string
          const: EC
        crv:
          type: string
          const: P-256
        x:
          type: string
          pattern: ^[A-Za-z0-9_-]{43}$
        y:
          type: string
          pattern: ^[A-Za-z0-9_-]{43}$
    ConnectionTopologyCell:
      type: object
      additionalProperties: false
      required:
      - fromActorClass
      - fromActorEvidence
      - toActorClass
      - toActorEvidence
      - relationshipType
      - directEdgeCount
      - propagationEdgeCount
      - independentLineageCount
      properties:
        fromActorClass:
          type: string
          enum:
          - person
          - software
          - unspecified
        fromActorEvidence:
          type: string
          enum:
          - self_declared
          - mcp_transport
          - unspecified
        toActorClass:
          type: string
          enum:
          - person
          - software
          - unspecified
        toActorEvidence:
          type: string
          enum:
          - self_declared
          - mcp_transport
          - unspecified
        relationshipType:
          type: string
          enum:
          - friend
          - best_friend
          - partner
          - sibling
          - family
          - group_member
          - teammate
          - long_distance
          - other
        directEdgeCount:
          type: integer
          minimum: 20
          maximum: 1000000
        propagationEdgeCount:
          type: integer
          minimum: 0
          maximum: 1000000
        independentLineageCount:
          type: integer
          minimum: 20
          maximum: 1000000
    ConnectionTopology:
      type: object
      additionalProperties: false
      required:
      - schemaVersion
      - status
      - editionId
      - editionHash
      - previousEditionHash
      - createdAt
      - window
      - thresholds
      - cells
      - suppressedCellCount
      - disclosure
      - methodologyUrl
      properties:
        schemaVersion:
          type: integer
          const: 1
        status:
          type: string
          enum:
          - collecting
          - open
        editionId:
          type: string
          pattern: ^\d{4}-\d{2}-\d{2}$
        editionHash:
          type: string
          pattern: ^[a-f0-9]{64}$
        previousEditionHash:
          anyOf:
          - type: string
            pattern: ^[a-f0-9]{64}$
          - type: 'null'
        createdAt:
          type: string
          format: date-time
        window:
          type: object
          additionalProperties: false
          required:
          - start
          - end
          - days
          properties:
            start:
              type: string
              pattern: ^\d{4}-\d{2}-\d{2}$
            end:
              type: string
              pattern: ^\d{4}-\d{2}-\d{2}$
            days:
              type: integer
              const: 30
        thresholds:
          type: object
          additionalProperties: false
          required:
          - minimumIndependentLineages
          - minimumDirectEdges
          properties:
            minimumIndependentLineages:
              type: integer
              const: 20
            minimumDirectEdges:
              type: integer
              const: 20
        cells:
          type: array
          maxItems: 144
          items:
            $ref: '#/components/schemas/ConnectionTopologyCell'
        suppressedCellCount:
          type: integer
          minimum: 0
          maximum: 144
        disclosure:
          type: string
          minLength: 1
          maxLength: 1000
        methodologyUrl:
          type: string
          const: /methodology#connections
    AssessmentSlug:
      type: string
      enum:
      - ipip-big-five-50
      - ipip-ipc-32
      - qb6-big-six-36
      description: One exact, versioned public-domain self-report instrument exposed by the stateless assessment service.
    AssessmentCatalogEntry:
      type: object
      additionalProperties: false
      required:
      - slug
      - id
      - version
      - title
      - itemCount
      - estimatedMinutes
      - summary
      properties:
        slug:
          $ref: '#/components/schemas/AssessmentSlug'
        id:
          type: string
          enum:
          - ipip-big-five-50-en-v1
          - ipip-ipc-32-en-v1
          - qb6-big-six-36-en-v1
        version:
          type: integer
          const: 1
        title:
          type: string
          minLength: 1
        itemCount:
          type: integer
          enum:
          - 50
          - 32
          - 36
        estimatedMinutes:
          type: integer
          minimum: 1
          maximum: 15
        summary:
          type: string
          minLength: 1
    AssessmentCatalogResponse:
      type: object
      additionalProperties: false
      required:
      - assessments
      properties:
        assessments:
          type: array
          minItems: 3
          maxItems: 3
          items:
            $ref: '#/components/schemas/AssessmentCatalogEntry'
    AssessmentResponseOption:
      type: object
      additionalProperties: false
      required:
      - value
      - label
      properties:
        value:
          type: integer
          minimum: 0
          maximum: 5
        label:
          type: string
          minLength: 1
    AssessmentItem:
      type: object
      additionalProperties: false
      required:
      - id
      - text
      properties:
        id:
          type: string
          pattern: ^[a-z0-9-]{3,80}$
        text:
          type: string
          minLength: 1
          maxLength: 240
    AssessmentInstrument:
      type: object
      additionalProperties: false
      required:
      - schemaVersion
      - id
      - slug
      - version
      - title
      - instruction
      - estimatedMinutes
      - itemCount
      - responseOptions
      - items
      properties:
        schemaVersion:
          type: integer
          const: 1
        id:
          type: string
          enum:
          - ipip-big-five-50-en-v1
          - ipip-ipc-32-en-v1
          - qb6-big-six-36-en-v1
        slug:
          $ref: '#/components/schemas/AssessmentSlug'
        version:
          type: integer
          const: 1
        title:
          type: string
          minLength: 1
        instruction:
          type: string
          minLength: 1
        estimatedMinutes:
          type: integer
          minimum: 1
          maximum: 15
        itemCount:
          type: integer
          enum:
          - 50
          - 32
          - 36
        responseOptions:
          type: array
          minItems: 5
          maxItems: 6
          items:
            $ref: '#/components/schemas/AssessmentResponseOption'
        items:
          type: array
          minItems: 32
          maxItems: 50
          items:
            $ref: '#/components/schemas/AssessmentItem'
    AssessmentInstrumentResponse:
      type: object
      additionalProperties: false
      required:
      - instrument
      - methodologyUrl
      properties:
        instrument:
          $ref: '#/components/schemas/AssessmentInstrument'
        methodologyUrl:
          type: string
          format: uri
    AssessmentResponseEntry:
      type: object
      additionalProperties: false
      required:
      - itemId
      - response
      properties:
        itemId:
          type: string
          pattern: ^[a-z0-9-]{3,80}$
        response:
          type: integer
          minimum: 0
          maximum: 5
          description: Use only a value advertised by the selected instrument. IPIP instruments use 1–5; 36QB6 uses 0–5.
    AssessmentScoreRequest:
      type: object
      additionalProperties: false
      required:
      - instrumentId
      - version
      - responses
      properties:
        instrumentId:
          type: string
          enum:
          - ipip-big-five-50-en-v1
          - ipip-ipc-32-en-v1
          - qb6-big-six-36-en-v1
        version:
          type: integer
          const: 1
        responses:
          type: array
          minItems: 32
          maxItems: 50
          description: A complete vector containing every item from the selected instrument exactly once.
          items:
            $ref: '#/components/schemas/AssessmentResponseEntry'
    AssessmentScaleScore:
      type: object
      additionalProperties: false
      required:
      - id
      - name
      - rawSum
      - rawMean
      - itemCount
      - minimum
      - maximum
      properties:
        id:
          type: string
        name:
          type: string
        rawSum:
          type: number
        rawMean:
          type: number
        itemCount:
          type: integer
          minimum: 4
          maximum: 10
        minimum:
          type: number
        maximum:
          type: number
    AssessmentScoreResult:
      type: object
      additionalProperties: false
      required:
      - schemaVersion
      - instrument
      - scales
      - disclosure
      - methodologyUrl
      properties:
        schemaVersion:
          type: integer
          const: 1
        instrument:
          type: object
          additionalProperties: false
          required:
          - id
          - slug
          - version
          - scoringVersion
          properties:
            id:
              type: string
              enum:
              - ipip-big-five-50-en-v1
              - ipip-ipc-32-en-v1
              - qb6-big-six-36-en-v1
            slug:
              $ref: '#/components/schemas/AssessmentSlug'
            version:
              type: integer
              const: 1
            scoringVersion:
              type: string
        scales:
          type: array
          minItems: 5
          maxItems: 8
          items:
            $ref: '#/components/schemas/AssessmentScaleScore'
        disclosure:
          type: string
          minLength: 1
        methodologyUrl:
          type: string
          format: uri
    AssessmentMethodology:
      type: object
      additionalProperties: false
      required:
      - schemaVersion
      - instrument
      - publicDomain
      - sourceUrls
      - citation
      - scoring
      - limitations
      - excludedInterpretations
      properties:
        schemaVersion:
          type: integer
          const: 1
        instrument:
          type: object
          additionalProperties: false
          required:
          - id
          - slug
          - version
          - scoringVersion
          - locale
          - itemCount
          - scaleCount
          properties:
            id:
              type: string
              enum:
              - ipip-big-five-50-en-v1
              - ipip-ipc-32-en-v1
              - qb6-big-six-36-en-v1
            slug:
              $ref: '#/components/schemas/AssessmentSlug'
            version:
              type: integer
              const: 1
            scoringVersion:
              type: string
            locale:
              type: string
              const: en
            itemCount:
              type: integer
              enum:
              - 50
              - 32
              - 36
            scaleCount:
              type: integer
              minimum: 5
              maximum: 8
        publicDomain:
          type: object
          additionalProperties: false
          required:
          - status
          - commercialUsePermitted
          - permissionUrl
          properties:
            status:
              type: string
              const: public-domain
            commercialUsePermitted:
              type: boolean
              const: true
            permissionUrl:
              type: string
              format: uri
        sourceUrls:
          type: object
          additionalProperties: false
          required:
          - instrument
          - scoringKey
          - scoringInstructions
          properties:
            instrument:
              type: string
              format: uri
            scoringKey:
              type: string
              format: uri
            scoringInstructions:
              type: string
              format: uri
        citation:
          type: string
          minLength: 1
        scoring:
          type: object
          additionalProperties: true
        sourceCoefficientAlpha:
          type: object
          additionalProperties:
            type: number
            minimum: 0
            maximum: 1
        limitations:
          type: array
          minItems: 1
          items:
            type: string
        excludedInterpretations:
          type: array
          minItems: 1
          items:
            type: string
    AssessmentMethodologyResponse:
      type: object
      additionalProperties: false
      required:
      - methodology
      properties:
        methodology:
          $ref: '#/components/schemas/AssessmentMethodology'
    ProtocolError:
      type: object
      additionalProperties: false
      required:
      - error
      - message
      properties:
        error:
          type: string
        message:
          type: string
        issues:
          type: array
          items:
            type: object
            additionalProperties: false
            required:
            - path
            - code
            - message
            properties:
              path:
                type: string
              code:
                type: string
              message:
                type: string
externalDocs:
  description: ViewsMeet participation instructions
  url: https://viewsmeet.com/.well-known/agent-skills/viewsmeet-participation/SKILL.md
